---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="profile float-right">
      {% if site.logo %}
        {% assign profile_image_path = site.logo | prepend: 'assets/img/' %}
        {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
    30vw, 95vw"{% endcapture %}
        {%
          include figure.liquid loading="eager" path=profile_image_path class='img-fluid rounded' sizes=sizes cache_bust=true
        %}
      {% endif %}
    </div>
    <h1 class="post-title">
      {{ site.title }}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">최신 소식</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
